.cms_userlist_container   
    %h1.text-center.text-red-darkest Users list
    %br
    %table.users
        %tr
            %th Email
            %th Current role
            %th Change role
        - @users.each do |user|
            - unless user.editor?
                %tr
                    %td= user.email
                    %td.text-blue= user.role
                    -if user.member?
                        %td
                            .w-48.bg-green.text-white.hover:bg-blue-dark.text-white.font-bold.py-2.px-4.rounded
                                = link_to 'Set as Journalist', content_management_user_path(user), method: :patch
                    -if user.journalist?
                        %td
                            .w-48.bg-yellow-light.text-white.hover:bg-blue-dark.text-white.font-bold.py-2.px-4.rounded
                                = link_to 'Set as Member', content_management_user_path(user), method: :patch
